.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 550px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Monaco, monospace;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.title {
  color: grey;
  font-size: 18px;
}

